{% extends "base.html" %}
{% block title %}Tags{% endblock %}

{% block content %}
  <h3 class="mb-3">Tags
    <a class="btn btn-primary float-end" href="{% url 'todo:tag-create' %}">Add</a>
  </h3>
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th style="width:40%">Name</th>
          <th class="text" style="width:30%">Update</th>
          <th class="text" style="width:30%">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for tag in tags %}
          <tr>
            <td class="fw-medium">{{ tag.name }}</td>
            <td class="text">
              <a class="btn btn-secondary btn-sm" href="{% url 'todo:tag-update' tag.pk %}">Update</a>
            </td>
            <td class="text">
              <a class="btn btn-secondary btn-sm" href="{% url 'todo:tag-delete' tag.pk %}">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="2" class="text-secondary">No tags yet.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
